# Introducción

## ¿Qué es Python?

* Lenguaje de programación de alto nivel
* No requiere compilación para ejecutar las aplicaciones
* Lenguaje multiplataforma de código abierto, algo que permite desarrollar aplicaciones en cualquier sistema operativo
* Lenguaje sencillo de leer y escribir
* Utilizado para desarrollar aplicaciones de todo tipo
* Una gran cantidad de tecnologías se llevan muy bien con Python debido a su sencillez y a su gran potencia para el tratamiento de datos algo que sin duda ha hecho resurgir este lenguaje a nivel laboral
* Cada vez son más las empresas que solicitan expertos en Python

## ¿Dónde se utiliza Python?

* **Desarrollo web**: con Python se pueden desarrollar webs complejas en menos líneas de código. Posse frameworks que pueden ser utilizado para crear webs dinámicas y muy seguras. Es también muy utilizado para obtener información de todo tipo de webs, tal y como lo hacen Netflix, Instagram o Pinterest, entre otros.
* **Juegos y gráficos 3D**: Python posee una gran capacidad para manejar gráficos 3D, animaciones y distintas funcionalidades para el desarrollo de juegos.
* **Inteligencia artificial**: Su facilidad de escritura, su robustez, su capacidad de plasmar ideas complejas en pocas líneas, unidas al gran número de frameworks existentes han convertido a Python en el aliado perfecto de la IA.
* **Data mining**: Es un proceso que permite analizar grandes bases de datos con el objetivo de predecir futuras tendencias, es  un proceso complejo en el que Python contribuye a través de la limpieza y organización de datos y del uso de algoritmos de aprendizaje automático que simplifica el análisis de datos.
* **Machine learning**: Es otra de las tecnologías que está haciendo uso de python permite que La robótica y la IA aprendan por sí mismas a medida que van procesando más y más datos, facilitando un proceso de toma de decissiones.
* **Data analytics y big data**: Su simplicidad y su gran número de bibliotecas hacen que Python sea ideal a la hora de analizar y gestionar una gran cantidad de datos en tiempo real transformando éstos en información útil.
* **Data science**: La sencillez y la potencia de python para trabajar con un gran número de datos, unidos al gran número de bibliotecas existentes, hacen que sea ideal para el trabajo de los científicos.
* **Blockchain**: Python como lenguaje versátil, seguro y rápido, es muy útil para formar cadenas de bloques, permitiendo crear una cadena de bloques sencilla en menos de 50 líneas de código, haciendo sencillo algo muy complejo.

## Proyectos que se implementaron utilizando python

* Instagram
* Pinterest
* Google apps engine
* Facebook
* Dropbox
* Battlefield 2
* Netflix
* Spotify

## Python uno de los lenguajes más demandado laboralmente

* Se necesitan gran número de programadores expertos en Python para desarrollar nuevas funciones en las áreas relacionadas con IA, machine learning, análisis de datos.
* Según el Informe de Empleos Emergentes 2020 de LinkedIn, la demanda de desarrolladores Python ha crecido un 30% respecto al 2020.
* Cuenta con una comunidad de desarrolladores que se estima aproximadamente en 10 millones de personas.

## IDE para desarrollo python

* Spyder
* Idle
* Visual Studio Code
* Atom
* Jupyter
* PyDev
* Thonny
* Wing
* Komodo
* Colab
* Entre otros



---


# Sesión 1


---

### Variables y tipos de datos

## Variables
Una variable es donde se guarda (y se recupera) un dato que se utiliza en un programa. Las variables pueden modificar su valor y se utilizan para:

+ Guardar datos y estados.
+ Asignar valores de una variable a otra.
+ Representar valores dentro de una expresión matemática.
+ Mostrar valores por pantalla.

Todas las variables deben ser de un tipo de dato, ya sea un dato de tipo primitivo (número, texto), o un dato de tipo abstracto (objeto).

Las variables por defecto en Python son locales.

**Reglas para asignar nombres a las variables**

+ El nombre de la variable debe ser único.
+ Puede ser solo una palabra.
+ Solo puede usar letras, números y el caracter de subrayado (_).
+ No puede comenzar con un número.
+ No pueden ser iguales a las palabras reservadas del lenguaje.

In [ ]:
# Variable entera
x_entero = 29
# Variable decimal
x_decimal = 29.6
# Variable lógica
x_logica = True

In [ ]:
# Trabajando con cadenas de caracteres
x_cadena = "Aprendiendo Python"
y_cadena = 'Lo esencial es invisible a los ojos'

In [ ]:
# Número complejo
x_complejo = 4 + 5j

In [ ]:
# Asignando multiples valores a variables distintas
x_puntos, x_nota, x_texto = 5, 3.2, "Hola"

In [ ]:
# Asignando el mismo valor a distintas variables
x_nota1 = x_nota2 = x_nota3 = 6.5

## Ejercicios

1. Declarar una variable que le permita guardar su edad.
2. Declarar una variable que le permita guardar su nombre.
3. Declarar una variable que le permita guardar su estatura en metros.

## Entrada/salida estándar

Los programas serían de muy poca utilidad si no fueran capaces de interactuar con el usuario, es por ello que las funciones de entrada y salida estándar son útiles para establecer la comunicación.

La entrada estándar se utiliza para pedir información al usuario y la salida estándar se utiliza para mostrar información por pantalla.

In [1]:
# Lectura desde teclado
x = input("Valor para x : ")
# Imprimir en la pantalla
print(x)

Valor para x : a
a

Es conveniente considerar que la función input SIEMPRE retorna lo que lee como una cadena de caracteres.

La pregunta es: ¿Qué debeo hacer si se requiere leer un número entero o decimal para poder después sumarlo por ejemplo?

La respuesta: usando funciones presentes en Python que ayudan a convertir lo que se lee. Algunas de ellas son:

+ int
+ float

In [6]:
# Lee un número entero
x = int(input("x = "))
# Imprime lo leído
print(x)
# Lee un número decimal
x = float(input("x = "))
# Imprime lo leído, observe que acá la función print acepta 2 componentes: un texto y la variable
print("Valor decimal leido es:", x)

x = 2
2
x = 5.7
Valor decimal leido es: 5.7

## Trabajando con cadenas de caracteres

In [5]:
# Define la variable como cadena de caracteres
c = "televisor"
# Imprime el tipo de dato de la variable
print("Tipo de dato es :", type(c))

# Uso de slice (este concepto se revisará con detalle más adelante)
# Imprime partes de la cadena
print(c[:3])
print(c[3:])

Tipo de dato es : <class 'str'>
tel
evisor

In [ ]:
# Define una variable como una cadena de caracteres
c = "tengo mucho sueño"
# Divide la cadena, en este caso considerando como separador el espacio
print(c.split(" "))

['tengo', 'mucho', 'sueño']

In [ ]:
c = "paralelepipedo"
# Retorna la cadena capitalizada (la primera letra en mayúscula)
r = c.capitalize()
print(r)
# Retorna la cadena transformando TODAS sus letras en mayúsculas
r = c.upper()
print(r)

Paralelepipedo
PARALELEPIPEDO

In [ ]:
# Define una variable que almacena una cadena de caracteres
c = "soy una linda cadena"
# Verifica si se trata de un número
print(c.isnumeric())
# Obtiene la cantidad de caracteres
print(len(c))
# Define una variable que almacena una cadena de caracteres (que sólo son dígitos)
c = "29"
# Verifica si se trata de un número
print(c.isnumeric())
# Obtiene la cantidad de caracteres
print(len(c))

False
20
True
2

## Operadores aritméticos

+ Suma (+)
+ Resta (-)
+ Multiplicación (*)
+ División (/ y //)
+ Potencia (**)
+ Resto de una división (%)

In [7]:
# Define 2 variables numéricas
x = 29
y = 6

In [ ]:
# Operación matemática (suma)
z = x + y
print(z)

35

In [ ]:
# Operación matemática (resta)
z = x - y
print(z)

23

In [ ]:
# Operación matemática (producto)
z = x * y
print(z)

174

In [8]:
# Operación matemática (división)
z = x / y
print(z)

4.833333333333333

In [9]:
# Bonus track de impresión
print("{:.2f}".format(z))

4.83

In [ ]:
# Operación matemática (división sólo considerando la parte entera)
z = x // y
print(z)

4

In [ ]:
# Operación matemática (potencia)
a = 5
b = 3
z = a ** b
print(z)

125

In [ ]:
# Operación matemática (resto de la división)
a = 23
b = 3
z = a % b
print(z)

2

In [ ]:
# Combinando operaciones matemáticas
a = (50-5*6)/4
print(a)

5.0

In [ ]:
# Más combinaciones de operaciones matemáticas
a = 3 * 3.75 / 1.5
b = 7.0 / 2
print(a)
print(b)

7.5
3.5

Python sigue las reglas habituales de precedencia y asociatividad; además, el operador potencia (**) es asociativo desde la derecha y más prioritario que el menos unario. Un ejemplo:

In [10]:
x = -2**2
print(x)

-4

### Precedencia de operadores en Python


---


La tabla indica la prioridad de los operadores (de mayor a menor prioridad)

<table>
  <thead>
    <th>Operador</th>
    <th>Descripción</th>
  </thead>
  <tbody>
    <tr>
      <td>**</td>
      <td>Potencia</td>
    </tr>
    <tr>
      <td>~, +, -</td>
      <td>Inversor de bit, más y menos binario</td>
    </tr>    
    <tr>
      <td>*, /, //, % </td>
      <td>Multiplicación, división, módulo (resto)</td>
    </tr>   
    <tr>
      <td>+, -</td>
      <td>Suma y resta</td>
    </tr>             
    <tr>
      <td>>>, <<</td>
      <td>Desplazamiento de bits</td>
    </tr>
    <tr>
      <td>&</td>
      <td>AND a nivel de bits</td>
    </tr>
    <tr>
      <td>^, | </td>
      <td>XOR y OR a nivel de bits</td>
    </tr>         
    <tr>
      <td>>=, <=, >, <</td>
      <td>Operadores relacionales</td>
    </tr>                         
    <tr>
      <td><>, ==, !=</td>
      <td>Operadores de igualdad</td>
    </tr>
    <tr>
      <td>=, +=, -=, *=, /=</td>
      <td>Operadores de asignación</td>
    </tr>                                 
    <tr>
      <td>is</td>
      <td>Operador de identidad</td>
    </tr>                                 
    <tr>
      <td>in</td>
      <td>Operador de inclusión</td>
    </tr>                                 
    <tr>
      <td>not, and, or</td>
      <td>Operadores lógicos</td>
    </tr>                                 
  </tbody>
</table>

En caso de querer que las operaciones se realicen en otro orden, se deben utilizar paréntesis

In [ ]:
x = (3+5)/2 - 5
print(x)

-1.0

In [ ]:
# Entendiendo la precedencia de los operadores
a = 20
b = 10
c = 15
d = 5
e = 0
e = (a + b) * c / d       #( 30 * 15 ) / 5
print("(a + b) * c / d ：",  e)

e = ((a + b) * c) / d     # (30 * 15 ) / 5
print("((a + b) * c) / d ：",  e)

e = (a + b) * (c / d);    # (30) * (15/5)
print("(a + b) * (c / d) ：",  e)

e = a + (b * c) / d;      #  20 + (150/5)
print ("a + (b * c) / d ：",  e)

(a + b) * c / d ： 90.0
((a + b) * c) / d ： 90.0
(a + b) * (c / d) ： 90.0
a + (b * c) / d ： 50.0

## Operadores de comparación y relacionales

+ Mayor que (>)
+ Menor que (<)
+ Mayor o igual que (>=)
+ Menor o igual que (<=)
+ Igualdad (==)
+ Distinto (!=)

In [ ]:
# Operador menor que
29 > 25

True

In [ ]:
# Operador menor o igual
x = 90
y = 12
x <= y

False

In [ ]:
# Operador de igualdad
x == y

False

## Conectores lógicos

Para realizar operaciones lógicas existen los operadores and, or y not. Los valores que devuelven son:
+ El operador **and** devuelve su primer operando si este es falso y el segundo en caso contrario.
+ El operador **or** devuelve su primero operando si este es cierto y el segundo en caso contrario.
+ El operador **not** devuelve False si su operando es cierto y True si es falso.

Recordar las tablas de verdad:

![texto del enlace](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR54ip0N8DbVElHtxxssADpvnN1qzdescMWDg&usqp=CAU)

A continuación se revisan algunos ejemplos de uso:

In [ ]:
# Define 2 variables numéricas
a = 12
b = 15
# Conecta 2 condiciones
a >= 10 and a % 2 == 0

True

In [ ]:
# Conecta 2 condiciones y será verdadero cuando AL MENOS UNA DE ELLAS ES VERDADERA
a <= 10 or a % 2 == 0

True

In [ ]:
# Niega una condición
not a % 2 == 0

False

In [ ]:
# Usando varios conectores
b >= 15 and not a % 2 != 0

True

## Conversión de tipos de datos

In [ ]:
# Define 2 variables una entera y otra es un decimal
a = 29
b = 2.6
# Realiza la suma
z = a + b
# Imprime resultado
print(z)

31.6

In [ ]:
# Define una variable como cadena de caracteres
a = "Python"
# Define una variable numérica
b = 29
# Utiliza un operador ...
z = a + str(b)
# Imprime el resultado
print(z)

Python29

![texto del enlace](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLisENhREDEEraH9nNQfC_ftYAglqKgll-Lg&usqp=CAU)

**¿Puede justificar o explicar el resultado de la celda anterior?**

In [ ]:
# Utiliza nuevamente el operador +
a = "2" + "2"
# Ahora usa una función que convierte una cadena de caracteres a su representación numérica (si es que es posible)
b = int(a) + 7
# Imprime resultados
print(a)
print(b)

22
29

**Nuevamente, ¿puede explicar los resultados anteriores?, tómese unos minutos para poder explicar/entender**

![texto del enlace](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu-JHqHiQqb2_3gScR8KerGy02q0-5pdTvRg&usqp=CAU)

In [ ]:
# Trabajando con números complejos
a = 4 + 2j
b = 2 - 3j
z = a + b
print(z)

(6-1j)

## Ejercicios operadores matemáticos y E/S

1. Leer desde teclado un número e imprimir el doble del número ingresado.
2. Leer desde teclado un número e imprimir el resto de la división del número por 5.
3. Leer desde teclado dos números enteros, x e y, e imprimir el resto de la división de x sobre y.

In [ ]:
# Escriba su código acá

## Ejercicios operadores relacionales y conectores lógicos

### Ejercicio 1
Construir un programa que lea 2 números por teclado y determine los siguientes aspectos (es suficiene con mostrar True o False):

+ Si los dos números son iguales
+ Si los dos números son diferentes
+ Si el primero es mayor que el segundo
+ Si el segundo es mayor o igual que el primero

In [ ]:
# Escriba su código acá

### Ejercicio 2

Utilizando operadores lógicos, determine si una cadena de texto introducida por el usuario tiene una longitud mayor o igual que 3 y a su vez es menor que 10 (es suficiene con mostrar True o False).

In [ ]:
# Escriba su código acá



---


# Sesión 2


---

## Condiciones

En programación sirven para bifurcar o discriminar la ejecución de ciertas instrucciones

In [ ]:
x = int(input("Ingrese valor : "))
if x == 2:
  print("Valor ingresado es 2")

In [ ]:
x = int(input("Ingrese valor : "))
if x % 2 == 0:
  print("Valor ingresado es par")
else:
  print("Valor ingresado es impar")

Ingrese valor : 13
Valor ingresado es impar

In [ ]:
x, y = 3, 6
if x == y:
  print("Variables distintas")
else:
  print("Variables iguales")

In [ ]:
x = int(input("Ingresa un entero, por favor: "))
if x < 0:
  print('Negativo')
elif x == 0:
  print('Cero')
elif x == 1:
  print('Unidad')
else:
  print('Mayor a 1')

Ingresa un entero, por favor: 56
Mayor a 1

## Ejercicios - Condiciones

### Ejercicio 1

Construir un programa en Python que permita leer una edad e imprimir un mensaje que indique si es mayor de edad o no.

In [ ]:
# Escriba su código acá

### Ejercicio 2

Construir un programa que lea dos números y muestre por pantalla su división. Si el divisor es cero el programa debe mostrar un error.

In [ ]:
# Escriba su código acá

### Ejercicio 3

Construir un programa que lea desde teclado la edad de una persona y una cadena de caracteres (si o no) para saber si tiene licencia de conducir y luego imprima en pantalla un mensaje para saber si la persona puede o no conducir.

NOTA. Una persona puede conducir un vehículo si es mayor de edad y si tiene licencia

In [ ]:
# Escriba su código acá

## Ciclos repetitivos

En programación sirven para repetir una serie de instucciones

### Ciclo while

In [ ]:
a, b = 1, 5
while a <= b:
  print(a)
  a = a + 1

1
2
3
4
5

In [26]:
a, b = 2, 15
while a <= b:
  print(a)
  a = a + 2

2
4
6
8
10
12
14

### Ciclo for

In [ ]:
for a in range(1,5):
  print(a)

1
2
3
4

In [ ]:
for a in range(7):
  print(a)

0
1
2
3
4
5
6

In [25]:
# Por si no se quiere ir de uno en uno
for a in range(1, 15, 2):
  print(a, end = ";")

1;3;5;7;9;11;13;

In [27]:
# Ahora en reversa
for a in range(15, 1, -2):
  print(a, end = ";")

15;13;11;9;7;5;3;

## Ejercicios - Ciclos

### Ejercicio 1
Construir una solución en Python que permita leer un número positivo y muestre por pantalla todos los números impares desde 1 hasta ese número separados por coma.

In [ ]:
# Escriba su solución acá

### Ejercicio 2
Construir una solución en Python que permita ingresar al usuario una cantidad a invertir, el interés anual y el número de años, y muestre por pantalla el capital obtenido en la inversión cada año que dura la inversión

In [ ]:
# Escriba su solución acá

### Ejercicio 3
Construir una solución en Python que permita leer desde teclado un caracter y un número entero y permita imprimir una salida commo la que se indica a continuación (donde se ha ingresado una a y un 6)

a

aa

aaa

aaaa

aaaaa

aaaaaa

In [ ]:
# Escriba su solución acá

### Ejercicio 4
Construir una solución en Python que permita leer desde teclado dos números enteros: a y b; luego imprima la tabla de multiplicar de a desde 1 hasta b.

Por ejemplo, a = 5 y b = 12, deberá imprimir la tabla de multiplicar del 5 desde a hasta el 12

In [ ]:
# Escriba su solución acá



---


# Sesión 3


---

## Concepto de arreglo

Para trabajar con arreglos se utiliza una librería de Python, numpy, que contiene las funciones para todo el tratamiento numérico (de ahí el nombre *numeric python*)

In [11]:
import numpy as np

### Arreglos unidimensionales

![texto del enlace](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBJbV8hGhv6b-hzE3Hz91V9vgLmhwn0nZv2Q&usqp=CAU)

In [12]:
# Crea un arreglo unidimensional
a = np.zeros(5,)
a

array([0., 0., 0., 0., 0.])

In [13]:
a = np.array([2,4,5,29])
a

array([ 2,  4,  5, 29])

In [14]:
print("Cantidad elementos:", len(a))
print("Nro. dimensiones:", a.ndim)
print("Shape:", a.shape)

Cantidad elementos: 4
Nro. dimensiones: 1
Shape: (4,)

In [15]:
# Accede a un elemento por su índice
a[2]

5

In [16]:
a.fill(15)
a

array([15, 15, 15, 15])

In [17]:
a = np.array([3,15,25,30])
print("Suma:", np.sum(a))
print("Promedio:", np.mean(a))

Suma: 73
Promedio: 18.25


### Desafío


---


Intente resolver, usando ciclos, la obtención de la suma y promedio de los valores almacenados en el arreglo 'a'

![texto del enlace](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqnXGc_mHkZhV-1OmvAJyQU_juI-NrwSmKGg&usqp=CAU)

### Arreglos bidimensionales

![texto del enlace](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtZtjn50o0RcRaAml7LCMDDi9NoGIpKIRuvQ&usqp=CAU)

In [18]:
# Crea un arreglo bidimensional de 3 filas y 2 columnas con ceros
a = np.zeros((3,2))
a

array([[0., 0.],
       [0., 0.],
       [0., 0.]])

In [19]:
print("Filas = ", len(a))
print("Columnas = ", len(a[0]))
print("shape = ", a.shape)
print("Nro. dimensiones = ", a.ndim)

Filas =  3
Columnas =  2
shape =  (3, 2)
Nro. dimensiones =  2

In [20]:
# Relleno
a.fill(29)
a

array([[29., 29.],
       [29., 29.],
       [29., 29.]])

In [21]:
# Cambia la disposición de los elementos
a = a.reshape((2,3))
a

array([[29., 29., 29.],
       [29., 29., 29.]])

In [22]:
a[1,2] = 15
a

array([[29., 29., 29.],
       [29., 29., 15.]])

In [23]:
# Suma de arreglos
a = a + [1,2,3]
a

array([[30., 31., 32.],
       [30., 31., 18.]])

In [24]:
b = np.diag(np.array([1, 2, 3, 4]))
b

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [25]:
# Otra forma de crear un arreglo
a = [[15,25,4],
     [12,45,67],
     [2,5,1],
     [18,28,7]]
a

[[15, 25, 4], [12, 45, 67], [2, 5, 1], [18, 28, 7]]

In [26]:
# Crea una matriz a partir de otra
b = np.array(a)
b

array([[15, 25,  4],
       [12, 45, 67],
       [ 2,  5,  1],
       [18, 28,  7]])

In [27]:
# Retorna el índice del elemento mayor dentro del arreglo
b.argmax()

5

In [28]:
# Retorna los números de columnas donde (para cada fila) se encuentra el valor máximo
b.argmax(1)

array([1, 2, 1, 1])

In [31]:
# Crea una matriz de 3 filas y 4 columnas con valores correlativos partiendo por el o y llegando ghasta el 11
X = np.matrix(np.arange(12).reshape((3,4)))
X

matrix([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]])

In [32]:
# Observe el uso de format para poder imprimir
# Obtiene la suma de todos los elementos de la matriz
print("Uso 1 ==> {0}".format(X.sum()))
# Obtiene la suma de los elementos por cada fila
print("Uso 2 ==> {0}".format(X.sum(axis=1)))
# Obtiene la suma de los elementos por cada columna
print("Uso 3 ==> {0}".format(X.sum(axis=0)))

Uso 1 ==> 66
Uso 2 ==> [[ 6]
 [22]
 [38]]
Uso 3 ==> [[12 15 18 21]]

In [33]:
# Lo mismo anterior, ahora considerando el promedio
print("Uso 1 ==> {0}".format(X.mean()))
print("Uso 2 ==> {0}".format(X.mean(axis=1)))
print("Uso 3 ==> {0}".format(X.mean(axis=0)))

Uso 1 ==> 5.5
Uso 2 ==> [[1.5]
 [5.5]
 [9.5]]
Uso 3 ==> [[4. 5. 6. 7.]]

In [34]:
# Otra forma, usando una función de Python que se encuentra en la librería numpy
print("Uso 1 ==> {0}".format(np.mean(X)))
print("Uso 2 ==> {0}".format(np.mean(X, axis=1)))
print("Uso 3 ==> {0}".format(np.mean(X, axis=0)))

Uso 1 ==> 5.5
Uso 2 ==> [[1.5]
 [5.5]
 [9.5]]
Uso 3 ==> [[4. 5. 6. 7.]]

In [35]:
# Genera matrices aleatorias de 4x4 y con valores entre 1 y 15
r_matrix = np.random.randint(1,15,(4,4))
s_matrix = np.random.randint(1,15,(4,4))

In [36]:
print("Matriz 1\n", r_matrix)
print("Matriz 2\n", s_matrix)

Matriz 1
 [[ 9 12 13  4]
 [12  1  7  1]
 [ 5  2 13 14]
 [10  1 12  5]]
Matriz 2
 [[ 2  3  3  5]
 [ 1 12 12 11]
 [12  9  2 10]
 [14 12 11  7]]

In [37]:
# Suma de matrices
print("Matriz 3\n", (r_matrix + s_matrix))

Matriz 3
 [[11 15 16  9]
 [13 13 19 12]
 [17 11 15 24]
 [24 13 23 12]]

In [38]:
# Transpuesta de una matriz
r_matrix.transpose()

array([[ 9, 12,  5, 10],
       [12,  1,  2,  1],
       [13,  7, 13, 12],
       [ 4,  1, 14,  5]])

In [39]:
# Genera otras matrices aleatorias
a_matrix = np.random.randint(2,5,(3,2))
b_matrix = np.random.randint(1,4,(2,2))

In [40]:
print("Matriz 1\n", a_matrix)
print("Matriz 2\n", b_matrix)
print("Producto de matrices\n", np.dot(a_matrix,b_matrix))
print("Producto por escalar\n", a_matrix*2)
print("Potencia\n", b_matrix**3)

Matriz 1
 [[2 2]
 [4 3]
 [4 2]]
Matriz 2
 [[2 1]
 [1 2]]
Producto de matrices
 [[ 6  6]
 [11 10]
 [10  8]]
Producto por escalar
 [[4 4]
 [8 6]
 [8 4]]
Potencia
 [[8 1]
 [1 8]]

### Resumen

![texto del enlace]()

## Colecciones

Python tiene varios tipos de datos compuestos, usados para agrupar otros valores.

### Listas

El más versátil de todos los tipos de datos compuestos es la ***lista***, la cual puede ser escrita como una lista de valores separados por coma (ítems) entre corchetes. No es necesario que los ítems de una lista tengan todos el mismo tipo.

In [ ]:
# Declara la lista
lista = []
print(lista)
# Agrega un elemento a la lista
lista.append(29)
print(lista)
# Agrega otro elemento a la lista
lista.append(25)
print(lista)

[]
[29]
[29, 25]

In [ ]:
lista.sort()
print(lista)

[25, 29]

In [ ]:
# Agrega elementos de varios tipos de datos
lista.append("trabajando con listas")
print(lista)
lista.append(24.3)
print(lista)
# ¿Qué pasará si se repiten los elementos?
lista.append(24.3)
print(lista)

[25, 29, 'trabajando con listas']
[25, 29, 'trabajando con listas', 24.3]
[25, 29, 'trabajando con listas', 24.3, 24.3]

In [ ]:
# Obtiene el índice que ocupa un elemento dentro de la lista
print(lista.index(29))
# Obtiene la cantidad de ocurrencias del elemento
print(lista.count(15))
print(lista.count(24.3))

1
0
2

### Acceso a los elementos de la lista

In [ ]:
# Acceso a los elementos dado su índice
print(lista)
print(lista[0])
print(lista[4])
# En este caso va de derecha a izquierda
print(lista[-3])

[25, 29, 'trabajando con listas', 24.3, 24.3]
25
24.3
trabajando con listas

In [ ]:
# Remueve elementos de la lista
lista.remove(24.3)
# Imprime contenido de la lista
print(lista)

[25, 29, 'trabajando con listas', 24.3]

In [ ]:
# Inserta un elemento en un deterninado índice
lista.insert(3, "Nuevo")
# Imprime el contenido de la lista
print(lista)

[25, 29, 'trabajando con listas', 'Nuevo', 24.3]

In [ ]:
# Accede a algunos elementos de la lista
lista = [12,34,29,6,15,9,30,3,4,1]
print(lista[0:2])

[12, 34]

### Uso de slices

Python tiene algunas propiedades especiales a la hora de tratar con listas. Se puede cortar una lista desde su inicio hasta determinado lugar, o desde determinado lugar hasta el final. A esto se le conoce como ***notación slice***.

In [ ]:
lst_y = ['a','e','i','o','u',1,2,3,4,5]
print("1:", lst_y[:2])
print("2:", lst_y[-3])
print("3:", lst_y[-3:])
print("4:", lst_y[3:5])

1: ['a', 'e']
2: 3
3: [3, 4, 5]
4: ['o', 'u']

### Operaciones con listas

In [ ]:
lista_a = [15,25,3,30]
lista_b = [3,4,5]
lista_c = lista_a + lista_b
print(lista_c)

[15, 25, 3, 30, 3, 4, 5]

In [ ]:
lista_c[4] = lista_c[4] + 6
print(lista_c)

[15, 25, 3, 30, 9, 4, 5]

In [ ]:
x = len(lista_c)
print(x)

7

### Colecciones y ciclos

In [ ]:
lista = ['Libro','Cine','TV']
for a in lista:
  print(a)

Libro
Cine
TV

In [ ]:
lista = [15,13,7,5,4,135,29]
for valor in lista:
  print(valor)
  if valor % 2 == 0:
    break

15
13
7
5
4

In [ ]:
lista = [15,13,7,5,4,135,29]
for valor in lista:
  if valor % 2 == 0:
    pass
  else:
    print(valor)

15
13
7
5
135
29

In [ ]:
lista = [15,13,7,5,4,135,29]
for valor in lista:
  if valor % 2 != 0:
    print(valor)

15
13
7
5
135
29

In [ ]:
lista = [15,13,7,5,4,135,29]
tx, ty = 0,0
for valor in lista:
  if valor % 2 == 0:
    tx = tx + 1
  else:
    ty = ty + 1
print(tx)
print(ty)

1
6

### Ejercicios de colecciones

## Ejercicios cierre

### Ejercicio 1

Visualizar los elementos de una una columna de la matriz a partir del ingreso de la columna. Validar la la columna a ingresar

In [ ]:
# datos contenidos en una lista de lista
datos=[
       [3,5,7,1,9],
       [6,2,4,8,6],
       [8,7,5,2,1],
       [9,3,1,4,6],
       [7,5,9,3,7]
       ]

# Creando matriz a patir de la lista de lista
matriz = np.array(datos)

# Visualizar el contenido de la matriz
print(matriz)

# Escriba su código acá

### Ejercicio 2

Se desea generar un arreglo de dimensión 100 con elementos de tipo entero, correspondiente a kilometros recorridos por un vehiculo. De este arreglo se desea obtener la siguiente información.

* Cantidad de elementos que contiene el arreglo
* Total de kilometros recorridos
* kilometraje mayor recorrido y posición de su primera ocurrencia
* kilometraje menor recorrido y posición de la última ocurrencia
* Kilometraje promedio recorrido
* Total de ocurrencias de kilometrajes mayores al promedio de kilometajes recorrido

In [ ]:
# Datos de una matriz generados aleatoreamente
datos = np.random.randint(100,500, size=(100,100))

# datos contenidos en una lista de lista (estatica)
"""
datos=[
       [443, 141, 358, 273, 436, 386, 459, 280, 429, 483],
       [346, 431, 480, 143, 398, 226, 204, 304, 410, 455],
       [318, 489, 101, 412, 131, 225, 164, 295, 225, 256],
       [476, 453, 151, 309, 357, 121, 464, 104, 249, 380],
       [400, 211, 152, 442, 312, 397, 146, 183, 447, 352],
       [182, 367, 323, 316, 289, 300, 393, 379, 475, 209],
       [497, 117, 165, 170, 176, 369, 410, 284, 166, 204],
       [487, 157, 187, 271, 140, 375, 381, 395, 195, 328],
       [419, 422, 333, 418, 241, 244, 240, 465, 199, 257],
       [351, 305, 156, 456, 148, 446, 431, 273, 375, 498]
       ]
"""

# Escriba su código acá

### Ejercicio 3

Escribir las instrucciones necesarias para:

+ Leer un número entero n.
+ Leer n valores enteros y guardarlos en una lista llamada numeros.
+ Imprimir la suma de los valores almacenados en la lista; deberá recorrer la lista.
+ Imprimir el promedio de los valores almacenados en la lista; deberá recorrer la lista.
+ Imprimir los elementos de la lista que son mayores al promedio.

In [ ]:
# Escriba su código acá



---


# Bonus track


---

## Tuplas


Se sabe que las listas tienen propiedades como el indizado y las operaciones de seccionado. Estas son dos ejemplos de datos de tipo secuencia.

Como Python es un lenguaje en evolución, otros datos de tipo secuencia pueden agregarse. Existe otro dato de tipo secuencia estándar: la tupla.

Una tupla consiste de un número de valores separados por comas

In [ ]:
t = ()
print(t.count(29))
tx = (15,25,30,3)
# Cuenta la cantidad de ocurrencias del elemento
print(tx.count(15))
print(tx.count(150))
# Retorna el índice del elemento indicado
print(tx.index(25))

0
1
0
1

In [ ]:
t = 29,
print(t)
print(type(t))
print(len(t))

(29,)
<class 'tuple'>
1

In [ ]:
tx = (15,12,4)
ty = (25,15,8)
tx < ty

False

## Conjuntos

Python también incluye un tipo de dato para conjuntos. Un conjunto es una colección no ordenada y sin elementos repetidos. Los usos básicos de éstos incluyen verificación de pertenencia y eliminación de entradas duplicadas. Los conjuntos también soportan operaciones matemáticas como la unión, intersección, diferencia, y diferencia simétrica.

In [ ]:
tc = {15,25,30,4}
print(tc)
tc = tc.union({33})
print(tc)
tc.add()

{25, 4, 30, 15}
{33, 4, 25, 30, 15}

In [ ]:
cx = set([25,15,4,30])
print(cx)
cx.discard(23)
print(cx)
cx.remove(4)
print(cx)
# Pruebe que sucede si intenta, usando el método remove con el argumento 40
print(len(cx))

{25, 4, 30, 15}
{25, 4, 30, 15}
{25, 30, 15}
3

In [ ]:
"""
Respecto del método remove() la consideración que se debe tener es que si el
elemento no existe marca error
"""
cx = {'a', "aire", "cocina", 26, 29, 1}
print("cx antes : ", cx)
cx.discard('b')
print("cx despues : ", cx)

cx antes :  {1, 'aire', 'a', 'cocina', 26, 29}
cx despues :  {1, 'aire', 'a', 'cocina', 26, 29}

In [ ]:
# Operaciones entre conjuntos
ca = {1,5,7,90.23}
cb = {2,45,68,12}
# Unión
cc = ca | cb
print(cc)
# Intersección
cc = ca & cb
print(cc)
ca = {2,4,6,8}
cb = {3,6,9}
cc = ca & cb
print(cc)
print(ca.intersection(cb))
# Subconjuntos
ca = {2,4,6,8,10}
cb = {6,4}
print(cb.issubset(ca))
print(ca.issubset(cb))
# Diferencia simétrica
print(ca.symmetric_difference(cb))
print(cb.symmetric_difference(ca))
# Profundizando en la diferencia simétrica
ca = {1, 2, 3, 4}
cb = {3, 4, 5, 6}
ca.symmetric_difference(cb)

{1, 2, 68, 5, 7, 12, 45, 90.23}
set()
{6}
{6}
True
False
{2, 8, 10}
{2, 8, 10}

{1, 2, 5, 6}

**Conjuntos disconexos**



---

Se dice que un conjunto es disconexo respecto de otro si no comparten elementos entre sí, es decir, si su intersección es vacía.

In [ ]:
# Conjuntos disconexos
ca = {1, 2, 3}
cb = {3, 4, 5}
cc = {5, 6, 7}
print(ca.isdisjoint(cb)) # No son disconexos ya que comparten el elemento 3.
print(ca.isdisjoint(cc)) # Son disconexos.

False
True

In [ ]:
cx = {True, 'a', "aire", 29, 29 < 10, 20 % 2 == 0 }
cx

{29, False, True, 'a', 'aire'}

In [ ]:
cx = {296, 17, True, 3, 15, 29, 6}
print("cx: ", cx)
print("1: ", type(cx))
print("2: ", 29 in cx)
print("3: ", 29 not in cx)

cx:  {True, 3, 6, 296, 15, 17, 29}
1:  <class 'set'>
2:  True
3:  False

**Conjuntos inmutables**


---

*frozenset* es una implementación similar a set pero inmutable. Es decir, comparte todas las operaciones de conjuntos revisadas hasta el momento a excepción de aquellas que implican alterar sus elementos (add(), discard()). La diferencia es análoga a la existente entre una lista y una tupla.

In [ ]:
ca = frozenset({1, 2, 3})
cb = frozenset({3, 4, 5})
print(ca & cb) # frozenset({3})
print(ca | cb) # frozenset({1, 2, 3, 4, 5})
print(ca.isdisjoint(cb)) # False

frozenset({3})
frozenset({1, 2, 3, 4, 5})
False

## Diccionarios

+ Los diccionarios se encuentran a veces en otros lenguajes como "memorias asociativas" o "arreglos asociativos".
+ A diferencia de las secuencias, que se indexan mediante un rango numérico, los diccionarios se indexan con claves, que pueden ser cualquier tipo inmutable; las cadenas y números siempre pueden ser claves.
+ Las tuplas pueden usarse como claves si solamente contienen cadenas, números o tuplas; si una tupla contiene cualquier objeto mutable directa o indirectamente, no puede usarse como clave.
+ No es posible usar listas como claves, ya que las listas pueden modificarse usando asignación por índice, asignación por sección, o métodos como append() y extend().
+ Un diccionario es un conjunto no ordenado de pares clave: valor, con el requerimiento de que las claves sean únicas (dentro de un diccionario en particular).
+ Un par de llaves crean un diccionario vacío: {}.
+ Colocar una lista de pares clave:valor separados por comas entre las llaves añade pares clave:valor iniciales al diccionario; esta también es la forma en que los diccionarios se presentan en la salida.
+ Las operaciones principales sobre un diccionario son guardar un valor con una clave y extraer ese valor dada la clave. También es posible borrar un par clave:valor con ***del***.
+ Si se usa una clave que ya está en uso para guardar un valor, el valor que estaba asociado con esa clave se pierde.
+ Intentar extraer un valor usando una clave no existente causará un error.
+ El método ***keys()*** de un diccionario devuelve una lista de todas las claves en uso de ese diccionario, en un orden arbitrario (si se requiere orden entonces se usa el metodo ***sort()*** sobre la lista de claves).
+ Para verificar si una clave está en el diccionario, utilizar la palabra clave **in**.

In [ ]:
d_sueldos = {'Jaqueline': 980000, 'Santiago': 490000}
print(d_sueldos)

{'Jaqueline': 980000, 'Santiago': 490000}

In [ ]:
d_sueldos['Santiago']

490000

In [ ]:
# Verificar si existe un elemento
'Guido' in d_sueldos

False

In [ ]:
d_sueldos['Guido'] = 760000
print(d_sueldos)

{'Jaqueline': 980000, 'Santiago': 490000, 'Guido': 760000}

In [ ]:
print(d_sueldos.keys())
print(d_sueldos.values())

dict_keys(['Jaqueline', 'Santiago', 'Guido'])
dict_values([980000, 490000, 760000])

In [ ]:
del d_sueldos['Santiago']
print(d_sueldos.keys())

dict_keys(['Jaqueline', 'Guido'])

In [ ]:
d_amigos = dict([('Ariel', 41), ('Guido', 47), ('Gabriela', 49)])
print(d_amigos.keys())

dict_keys(['Ariel', 'Guido', 'Gabriela'])

@copyright - Jazna Meza Hidalgo